// ESTILO MOBILE
/* tipografia*/
@font-face {
  font-family: "OpenSans";
  src: url(../Open_Sans/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-B";
  src: url(../Open_Sans/OpenSans-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}
/* Fin tipografia*/
/*Estilo body*/
body {
  font-family: "OpenSans";
  box-sizing: border-box;
}
li {
  a {
    color: gray;
  }
}

svg {
  color: grey;
  i {
    font-size: 16px;
  }
  &:hover {
    color: black;
    background-color: white;
  }
}
.btn {
  border: 1px solid rgba(39, 38, 38, 0.801);
  padding: 6 18px;
  font-size: 12px;
  &:hover {
    color: black;
    background-color: white;
  }
  &:active {
    color: black;
    background-color: white;
  }
}

//modificando el menu
nav{
  position:sticky;
  top:0;
  width:100%;
  .nav-control {
    color: rgba(148, 145, 145, 0.384);
    font-size: 1rem;
    font-weight: light;
    position:absolute;
    top:5px;
    &.left{
      left:0;
    }
    &.right{
      right:0;
    }
  }
}


  ul {
    //font-size: 14px;
    list-style:none;
    padding:0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    width: calc (100%-80px);
   margin-left: 40px;
   margin-right: 40px;
   li{
    display: inline-block;
    margin-right:20px;
   }
   &::-webkit-scrollbar{
     display:none;
   }
  }
  
}

// dandole estilo al menu en mobile

div aside > h3.h3-aside {
  font-family: "OpenSans-B" !important;
}

.popular {
  list-style: none;
}
.num-popular {
  font-size: 32px;
  color: rgba(107, 106, 106, 0.336);
  font-family: "OpenSans";
}
h5 {
  font-family: "OpenSans-B";
  font-size: 18px;
  cursor: pointer;
}
h6 {
  font-family: "OpenSans-B";
  font-size: 15px;
  cursor: pointer;
}
footer {
  font-size: 13px;
  font-size: "OpenSans";
}
.p-card1 {
  padding: 0px;
  margin-top: 1rem;
  padding-right: 33%;
}

.enlace {
  font-size: 14px;
  a {
    text-decoration: none;
    color: #03a87c;
  }
}
.parafos-card {
  font-size: 14px;
}
.nav-link:hover {
  color: black;
}
// ESTILO PARA DESKTOP
@media only screen and (min-width: 768px) {
  .sticky-aside {
    position: sticky;
    top: 0;
  }
  .p-card1 {
    padding: 0px;
    margin-top: 1rem;
  }
  .mycard + img {
    height: 100px;
  }
  
  .img-sec1 {
    position: relative;
    left: -50px;

    width: 111%;
  }
}
