// ESTILO MOBILE
/* tipografia*/
@font-face {
  font-family: 'OpenSans';
  src: url(../Open_Sans/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-B';
  src: url(../Open_Sans/OpenSans-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}
/* Fin tipografia*/
/*Estilo body*/
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: 'OpenSans';
  box-sizing: border-box;
}
li {
  a {
    color: gray;
  }
}

img {
  object-fit: cover;
}
.imgrecientess {
  height: 100px;
}
.imgdos{
  height: 133px;
    width: 191px;
}

svg {
  color: grey;
  i {
    font-size: 16px;
  }
  &:hover {
    color: black;
    background-color: white;
  }
}
.btn {
  border: 1px solid rgba(39, 38, 38, 0.801);
  padding: 6 18px;
  font-size: 12px;
  &:hover {
    color: black;
    background-color: white;
  }
  &:active {
    color: black;
    background-color: white;
  }
}

//modificando el menu
.sticky-nav {
  position: sticky; //Para que se quede fijo
  top: 0; //en el top
  background-color: white;
  z-index: 1; //Este arriba de los demas objetos
  height: 32px;
}

.nav-bar {
  padding-left: 40px;
  padding-right: 40px;
}
.lix {
  overflow-x: hidden;
  width: 3000px;
  li {
    color: rgb(82, 81, 81);
    &:hover {
      cursor: pointer;
      color: black;
    }
  }
}

// dandole estilo al menu en mobile
/*.ocultar {
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
}*/
div aside > h3.h3-aside {
  font-family: 'OpenSans-B' !important;
}

.popular {
  list-style: none;
}
.num-popular {
  font-size: 32px;
  color: rgba(107, 106, 106, 0.336);
  font-family: 'OpenSans';
}
h5 {
  font-family: 'OpenSans-B';
  font-size: 18px;
  cursor: pointer;
}
h6 {
  font-family: 'OpenSans-B';
  font-size: 15px;
  cursor: pointer;
}
footer {
  font-size: 13px;
  font-size: 'OpenSans';
}
.p-card1 {
  padding: 0px;
  margin-top: 1rem;
  padding-right: 33%;
}

.enlace {
  font-size: 14px;
  a {
    text-decoration: none;
    color: #03a87c;
  }
}
.parafos-card {
  font-size: 14px;
}
.nav-link:hover {
  color: black;
}
///
.general3cards {
  height: 109px;
}
.img3cards {
  height: 100%;
  width: 90%;
}
//////
.newPost {
  padding: 0;
  margin: 0;
  z-index: 2;
  background-color: whitesmokes;
  li a {
    display: block;
    width: 100%;
  }

  li ul {
    display: none;
    position: absolute;
    min-width: 140px;
  }
  li:hover > ul {
    display: block;
  }
  li ul li {
    position: relative;
  }
  li ul li ul {
    top: 0px;
  }
}
.segundonivel {
  border-radius: 5px;
  margin-left: -50%;
  //margin-top: 7px;
  margin-right: 0;
  background-color: whitesmoke;
  //margin-right: 20px;
  //height: 100px;
  li {
    #btn-newPost {
      margin: 10px 0px;
      color: black;
      font-weight: 100;
      font-family: sans-serif;
      margin-right: 20px;
      text-decoration: none;
      background-color: whitesmoke;

      &:hover {
        color: #18a2b8;
        font-weight: 800;
      }
    }
    p {
      font-weight: 100;
      font-family: sans-serif;
      font-size: smaller;
      margin-right: 20px;
      text-decoration: none;
      //background-color: whitesmoke;
    }
  }
  hr {
  }
}
svg#file {
  color: #18a2b8;
  margin-top: 5px;
  box-shadow: 5px 5px 5px #44858959;
}
.newPosth1 {
  font-weight: 100;
  font-family: sans-serif;
}
form {
  border-radius: 5px;
  label {
    font-family: monospace;
    font-size: x-large;
  }
  button {
    border: none;
    padding: 5px 0px;
    border-radius: 5px;
    &:hover {
      box-shadow: 5px 5px 5px #9e9e9eb0;
    }
  }
}

// ESTILO PARA DESKTOP
@media only screen and (min-width: 768px) {
  .sticky-aside {
    position: sticky;
    top: 0;
  }
  .p-card1 {
    padding: 0px;
    margin-top: 1rem;
  }
  .mycard + img {
    height: 100px;
  }
  nav {
    //width: 88%;
    margin-left: auto;
    margin-right: auto;
    i {
      margin: 0px 0px;
      padding: 0;
    }
  }
  .ocultar {
    overflow-x: auto;

    display: flex;
    flex-wrap: nowrap;
  }
  .img-sec1 {
    position: relative;
    left: -29px;
    width: 109%;
  }
  .img3cards {
    width: 100%;
  }
  .segundonivel {
    border-radius: 5px;
    margin-left: -18px;
  }
}
